<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyBangKeo.Properties.Settings.QLBangKeoConnectionString"
            connectionString="Data Source=DESKTOP-9HH0UJ6;Initial Catalog=QLBangKeo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>